<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ToDo App</h1>
    <p>Welcome to the ToDo App</p>
    <h2>Sign In</h2>
    <form action="/sign_in/" method="post">
      <input type="text" name="username" placeholder="username">
      <br>
      <br>
      <input type="password" name="password" placeholder="password">
      <br>
      <br>
      <button>Log In</button>
    </form>
  </body>
</html>
