<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <ul>
    <% for (var i = 0; i<users.length; i++) { %>
      <li><a href=/users/<%=users[i].id %>><%= users[i].username %></a> 
      <a method="delete"><h6>delete</h6></a></li>
    <% } %>
  </ul>
  <form action=/users/ method="post">
    <h4>Add User</h4>
    <input type="text" placeholder="user name" name="username">
    <br>
    <input type="integer" placeholder="password" name="password">
    <button>Add</button>
  </form>
  </body>
</html>
